.App {
  text-align: center;
  background-color: #343843;
  min-height: 583px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap;
  padding: 1% 1% 1% 1%;
}
.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 800px;
  row-gap: 30px;

}
.LapDetails
{
  padding:1% 1% 1% 1% ;
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 18, 18, 0.276);
  max-height: 300px;
  width: 300px;
  border-radius: 5px;
}
.LapData
{
  max-height: 300px;
  width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.App-link {
  color: #61dafb;
}
.Timer{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: xx-large;
  width: 80%;
}
.Controls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  width: 100%;
}
.row
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  line-height: 0%;
}
hr {
  width: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}